<footer class="footer" [ngClass]="{'collapsed': isCollapsed}">
    <button class="circular-button collapse-button" (click)="toggleCollapse()">
        <i [ngClass]="isCollapsed ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
    </button>
    <div class="footer-content">
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="about">Home</a></li>
          <li><a href="about">About Me</a></li>
          <li><a href="about">Services</a></li>
          <li><a href="about">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contact Me!</h4>
        <address>
          <p>Email: dress.katharina@gmail.com</p>
          <p>Phone: +4915702059399</p>
        </address>
      </div>
      <div class="footer-section">
        <h4>Follow Me</h4>
        <ul class="social-icons">
          <li><a href="about"><i class="fab fa-facebook"></i></a></li>
          <li><a href="about"><i class="fab fa-twitter"></i></a></li>
          <li><a href="about"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="about"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 My Random Company. All Rights Reserved.</p>
    </div>
</footer>
  