<input type="text" [(ngModel)]="searchText" placeholder="Search" *ngIf="!loading">

<div class="card-container">
    <ng-container *ngIf="loading; else content">
        <i class="fas fa-sync-alt fa-spin fa-lg"></i>
    </ng-container>
</div>

<ng-template #content>
    <ng-container *ngFor="let person of persons | search: searchText; let i = index">
        <div class="card" [ngClass]="person.expanded ? 'big' : 'small'">
            <div class="card-content">
                <h4 *ngIf="!person.expanded" (click)="togglePerson(person)">{{ person.name }}</h4>
                <ng-container *ngIf="person.expanded">
                    <h4 (click)="togglePerson(person)">{{person.name}}</h4>
                    <div class="card-description">
                        {{person.house.name}}
                        <div class="quote">
                            <button class="circular-button menu-button" (click)="prevQuote()">
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <h4>{{quote}}</h4>
                            <button class="circular-button menu-button" (click)="nextQuote()">
                                <i class="fas fa-angle-right"></i>
                            </button>
                        </div>
                        <!--
                          <h5>Members</h5>
                        <ng-container *ngFor="let member of person.members; let i = index">
                            <div class="member">
                                <a href="persons">{{i+1}}: {{member.name}}</a>
                            </div>
                        </ng-container>  
                        -->
                        
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</ng-template>