.fa-sync-alt{
    font-size: 80px;
    color: var(--white);
}

input {
    top: 65px;
    right: 5px;
    position: fixed;
}

.houses {
    top: 60px;
    bottom: 60px;
    max-height: 55vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    transition: 1s ease;

    .house {
        width: 300px;
        border: 1px solid var(--white);
        border-radius: 5px;
        background-color: var(--primary-color);
        color: var(--footer-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: 1s ease;
        margin: 5px;
        overflow: hidden;
        display: flex;
        cursor: pointer;

        h4 {
            text-align: center;
            margin: 0;
            &::first-letter {
                text-transform:capitalize;
            }
        }

        &.big {
            h4 {
                text-align: start;
                border-bottom: 1px solid var(--border-color-transparent);
            }

            h5 {
                padding-top: 10px;
            }
        }

        &.small {
            align-items: center;
            justify-content: center;

            &:hover {
                color: var(--footer-color);
                background-color: var(--hover-color);
            }
        }
        
        .house-content {
            display: block;
            padding: 10px;
        }
    }
}

span {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--white);;
    transition: color 0.3s ease;
  
    &:hover {
        color: var(--footer-color);
    }
  }